

    <div class="container">
  
      <!-- Outer Row -->
      <div class="row justify-content-center">
  
        <div class="col-xl-6 col-lg-8 col-md-5">
  
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                
                <div class="col-lg-12">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">Comisión Académica de Titulación</h1>
                      <img src="../../assets/img/LOGO_FIM.png" width="200px" height="200px"><br>
                    </div>
                    <form class="user">
                      <div class="form-group">
                        <input class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" type="email" placeholder="Usuario">
                      </div>
                      <div class="form-group">
                        <input class="form-control form-control-user" id="exampleInputPassword" type="password" placeholder="Contraseña">
                      </div>
                      
                      <button class="btn bg-warning btn-user btn-block text-white" routerLink="/home">
                        Login
                      </button>
       
                      
                    </form>
                    <hr>
                    
                    <div class="text-center">
                      <a class="small" routerLink="/comision">Regresar a la pagina principal</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
  
      </div>
  
    </div>
  
   