 <!-- Sidebar -->
 
 <ul class="navbar-nav  sidebar sidebar-dark accordion" style="background-color: rgb(6, 6, 100); height: 100%;" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon ">
      <img src="../../../assets/img/logo.png" width="50px" height="50px">
    </div>
    <div class="sidebar-brand-text mx-3">Titulación</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" routerLinkActive="active" routerLink="/home">
      <i class="fas fa-fw fa-home"></i>
      <span>Inicio</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/miembros">
      <i class="fas fa-fw fa-address-book "></i>
      <span>Miembros</span></a>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/reuniones">
      <i class="fas fa-fw fa-calendar"></i>
      <span>Reuniones</span></a>
  </li>
  <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/titulacion">
        <i class="fas fa-fw fa-list-alt"></i>
        <span>Opciones de titulacion</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/registro">
          <i class="fas fa-fw fa-user-circle"></i>
          <span>Registro</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/seguimiento">
            <i class="fas fa-fw fa-folder"></i>
            <span>Seguimiento</span></a>
        </li>
   
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
  

</ul>

<!-- End of Sidebar -->
