<body>
    <div id="redes" class="row " style="text-align:center">
        <div class="col-md-7">
            <img src="../../assets/img/logo.png" height="30px;" width="30px;" alt="Logotipo"  >&nbsp;
        <label style=" color:rgb(228, 196, 15);">Universidad Autónoma de Sinaloa -</label> 
        <label style=" color:#fff;">Facultad de Ingeniería Mochis</label> 
        </div>
        <div class="col-md-5">
                <label style=" color:#fff;">Los Mochis Sinaloa </label> 
               
               
                
        </div>
    
</div>
<br>
<div class="container contenedor1">
    
    <br>
    <div class=" row col-md-12" style=" text-align:center;">
          
        <div class="col-lg-3 " >
                <img src="../../assets/img/LOGO_FIM.png" width="140px" height="120px" alt="Logotipo" >
        </div>
        <div class="col-lg-9" >
            <br>
             <label style=" text-align:center; color:rgba(5, 5, 41, 0.931);font-size: 25px;"><strong>Comisión Académica de Titulación</strong></label>
             <nav style=" text-align:left;"class="navbar navbar-expand-lg navbar-light ">
                    <a class="navbar-brand" href="#">Titulación</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">¿Quiénes Somos?</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Anuncios</a>
                                </li>
                               
                        
                       
                      
                                
                        
                       
                    </ul>
                    <ul class="navbar-nav right">
                        <li class="nav-item" style="float: right;">
                          
                            <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
                        </li>
                    </ul>
                    
                    </div>
                </nav>
            </div>
    </div>
    


    
        <hr>
    <div class="container contenedor3">
    <div class="row col-md-12 " style="text-align:center">
        <div class=" col-md-3 lateral-izq-contenedor-3" style="text-align:left;" >
          <br>  
          <img src="../../assets/img/aluma.PNG" width="100%;">
          <br>
        </div>
        <div class="col-md-9 cabecera-contenedor-3" >
           <div class="row">
            <div class="col-md-9" style="text-align:justify;">
              <br>
                    Aqui ira toda la descripcion 


           </div>
           <div class="col-md-3"  style="background-color: rgb(6, 6, 100); height: 400px; text-align: left;">
             <br>
               <ul class="nav flex-column">
                  <li class="nav-item hov">
                    <a class="nav-link text-white active" href="#"><img src="../../assets/img/Recurso 1.png" width="40px" height="40px">Titulaciones</a>
                  </li>
                  <li class="nav-item hov">
                    <a class="nav-link text-white" href="#"><img src="../../assets/img/Recurso 2.png" width="40px" height="40px">Reglamento</a>
                  </li>
                  <li class="nav-item hov">
                    <a class="nav-link text-white" href="#">&nbsp;&nbsp;&nbsp;<i class="fa fa-user fa-1x  text-white" ></i>&nbsp;&nbsp;&nbsp;Miembros</a>
                  </li>
                  <li class="nav-item hov">
                    <a class="nav-link text-white" href="#">&nbsp;&nbsp;&nbsp;<i class="fa fa-bullhorn fa-1x  text-white" ></i>&nbsp;&nbsp;Anuncios</a>
                  </li>
                </ul>
               
              </div>
            </div>
        </div>
    </div>
    </div>

</div>
<br>

</body>
<footer class="footer">
        
</footer>