<div class="row page-titles" >
        
        <div class="col-md-5 align-self-center" >
            <ol class="breadcrumb" style="background-color: rgb(241, 241, 241);">
                <li class="breadcrumb-item active">
                    <a routerLink="/home" >Inicio</a>
                </li>
                <li class="breadcrumb-item">Miembros </li>
                
            </ol>
        </div>
    
    </div>
<div class="row "> 
     
            <div class="col-lg-10" id="caja">
                <div class="card">
                    <div class="card-body">
                           
                      <div class="row col-lg-12">
                            <div class="col-lg-6" style="margin-top: 5px;">
                            <input type="text" class="form-control input-block busqueda" placeholder="Buscar...">
                            </div>
                            <div class="col-lg-4" style="margin-top: 5px;">
                                    <select class="col-lg-5 form-control custom-select">
                                            <option>Todos</option>
                                            <option>Activos</option>
                                            <option>Inactivos</option>
                                          </select>
                            </div>
                            <div class="col-lg-2" style="margin-top: 5px; float: right;">
                                    <button class="btn btn-block btn-primary" (click)="open(nuevo)">
                                            <i class="mdi mdi-account-plus"></i> Nuevo 
                                    </button>
                               <!-- -->
                            </div>
                            <br>
                            
                      </div>
                      <br>
                      <div class="col-lg-3">
                            <label>Página 1 de 20 </label><br>
                            </div>
                      <div class="row col-lg-12">
                     
                        <div class="col-lg-6" id="caja">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-md-4 col-lg-3 text-center">
                                        <img class="img-circle img-responsive" style="width: 100%; height: 100%;" alt="user" src="../../../assets/img/1.jpg">
                                    </div>
                                    <div class="col-md-8 col-lg-9">
                                        <h5 class="box-title m-b-0">Raul Antonio Martinez Valenzuela <i class="mdi mdi-account-check text-success"></i></h5> 
                                        <h6>Secretario</h6>
                                        <h6>Gibran@uas.com.mx</h6>
                                        <h6>6682414321</h6>
                                        <div class="row col-lg-12">
                                            <button class="btn btn-primary btn-circle btn-sm ">
                                                <i class="mdi mdi-account-edit"></i>
                                            </button>
                                            <button class="btn btn-danger btn-circle btn-sm opc ">
                                                <i class="mdi mdi-account-remove"></i>
                                            </button>
                                            <button class="btn btn-info btn-circle btn-sm opc ">
                                                 <i class="mdi mdi-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6" id="caja">
                                <div class="card card-body">
                                    <div class="row">
                                        <div class="col-md-4 col-lg-3 text-center">
                                            <img class="img-circle img-responsive" style="width: 100%; height: 100%;" alt="user" src="../../../assets/img/1.jpg">
                                        </div>
                                        <div class="col-md-8 col-lg-9">
                                            <h5 class="box-title m-b-0">Raul Antonio Martinez Valenzuela <i class="mdi mdi-account-check text-success"></i></h5> 
                                            <h6>Secretario</h6>
                                            <h6>Gibran@uas.com.mx</h6>
                                            <h6>6682414321</h6>
                                            <div class="row col-lg-12">
                                                <button class="btn btn-primary btn-circle btn-sm ">
                                                    <i class="mdi mdi-account-edit"></i>
                                                </button>
                                                <button class="btn btn-danger btn-circle btn-sm opc ">
                                                    <i class="mdi mdi-account-remove"></i>
                                                </button>
                                                <button class="btn btn-info btn-circle btn-sm opc ">
                                                     <i class="mdi mdi-eye"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6" id="caja">
                                    <div class="card card-body">
                                        <div class="row">
                                            <div class="col-md-4 col-lg-3 text-center">
                                                <img class="img-circle img-responsive" style="width: 100%; height: 100%;" alt="user" src="../../../assets/img/1.jpg">
                                            </div>
                                            <div class="col-md-8 col-lg-9">
                                                <h5 class="box-title m-b-0">Raul Antonio Martinez Valenzuela <i class="mdi mdi-account-check text-success"></i></h5> 
                                                <h6>Secretario</h6>
                                                <h6>Gibran@uas.com.mx</h6>
                                                <h6>6682414321</h6>
                                                <div class="row col-lg-12">
                                                    <button class="btn btn-primary btn-circle btn-sm ">
                                                        <i class="mdi mdi-account-edit"></i>
                                                    </button>
                                                    <button class="btn btn-danger btn-circle btn-sm opc ">
                                                        <i class="mdi mdi-account-remove"></i>
                                                    </button>
                                                    <button class="btn btn-info btn-circle btn-sm opc ">
                                                         <i class="mdi mdi-eye"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6" id="caja">
                                        <div class="card card-body">
                                            <div class="row">
                                                <div class="col-md-4 col-lg-3 text-center">
                                                    <img class="img-circle img-responsive" style="width: 100%; height: 100%;" alt="user" src="../../../assets/img/1.jpg">
                                                </div>
                                                <div class="col-md-8 col-lg-9">
                                                    <h5 class="box-title m-b-0">Raul Antonio Martinez Valenzuela <i class="mdi mdi-account-check text-success"></i></h5> 
                                                    <h6>Secretario</h6>
                                                    <h6>Gibran@uas.com.mx</h6>
                                                    <h6>6682414321</h6>
                                                    <div class="row col-lg-12">
                                                        <button class="btn btn-primary btn-circle btn-sm ">
                                                            <i class="mdi mdi-account-edit"></i>
                                                        </button>
                                                        <button class="btn btn-danger btn-circle btn-sm opc ">
                                                            <i class="mdi mdi-account-remove"></i>
                                                        </button>
                                                        <button class="btn btn-info btn-circle btn-sm opc ">
                                                             <i class="mdi mdi-eye"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                       
                       
                       
                    </div><hr>
                    <div class="row col-lg-2 derecha">
                 
                      <button class="btn btn-light opc" id="flechas"><i class="fa fa-angle-left"></i> Ant</button>
                      <button class="btn btn-light  opc" id="flechas"> Sig <i class="fa fa-angle-right"></i></button>
                    </div> 
                    </div>
                </div>
            </div>
            <div class="col-lg-2"id="caja">
                <div class="card">
                    <div class="card-body">
                            <div class="card  border-left-primary op">
                                    <div class="card-body">
                                      Total: <strong><label> 5</label></strong>
                                    </div>
                            </div>
                            <div class="card border-left-success op">
                                    <div class="card-body">
                                      Activos: <strong><label> 4</label></strong>
                                    </div>
                            </div>
                            <div class="card border-left-danger op">
                                    <div class="card-body">
                                      Inactivos:  <strong><label> 1</label></strong>
                                    </div>
                            </div>
                     
                    </div>
                    </div>
              
            </div>
        </div>
          
       
        <ng-template #nuevo let-modal>
                <div class="modal-header">
                  <h4 class="modal-title">Nuevo miembro</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
                <div class="modal-body">
                        <div class="vtabs customvtab">
                                <ul class="nav nav-tabs tabs-vertical" role="tablist">
                                    
                                    <li class="nav-item"> <a  [ngClass]="{active: miembrosForm.invalid }"class="nav-link " data-toggle="tab" href="#info" role="tab" aria-expanded="true"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><i class="mdi  mdi-account-card-details"></i> Datos personales <i *ngIf="miembrosForm.valid" class="mdi mdi-check-circle-outline text-success"></i></font></font></a> </li>
                                    <li class="nav-item"> <a [ngClass]="{active: miembrosForm.valid ,disabled: miembrosForm.invalid }" class="nav-link " data-toggle="tab" href="#cuenta" role="tab" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><i class="mdi mdi-account-circle"></i> Cuenta de usuario <i *ngIf="miembrosForm.valid && usuarioForm.valid" class="mdi mdi-check-circle-outline text-success"></i></font></font> </a> </li>
                                </ul>
                                <!-- TABS -->
                                <div class="tab-content">
                                    <!-- INICIA TAB PREGUNTAS PERSONALES -->
                                    <br>
                                    <div [ngClass]="{ active: miembrosForm.invalid }" class="tab-pane p-20 " id="info" role="tabpanel" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font>
                                      <form ngNativeValidate [formGroup]="miembrosForm">
                                          
                                        <strong><label>Llena los campos requeridos</label></strong>
                                        <div class="form-group">
                                                <label ><span class="text-info">* </span>Nombre completo</label>
                                                <input formControlName="nombre" name="nombre" class="form-control"  type="text" > 
                                                <p *ngIf="miembrosForm.controls.nombre.invalid && !miembrosForm.controls.nombre.pristine || miembrosForm.controls.nombre.invalid && press==true" class="text text-danger">El nombre es requerido <i class="fa fa-exclamation-circle uncheck"></i></p>
                                            </div>
                                            <div class="row ">
                                                <div class="col-lg-6 form-group">
                                                        <label for="exampleInputuname"><span class="text-info">* </span>Puesto</label>
                                                        <select formControlName="puesto" name="puesto" class="form-control custom-select" >
                                                            <option *ngFor="let p of puestos" value="{{p}}">{{p}}</option>
                                                        </select> 
                                                        <p *ngIf="miembrosForm.controls.puesto.invalid && !miembrosForm.controls.puesto.pristine || miembrosForm.controls.puesto.invalid && press==true" class="text text-danger">El puesto es requerido <i class="fa fa-exclamation-circle uncheck"></i></p>
                                                </div>
                                                <div class="col-lg-6 form-group">
                                                        <label for="exampleInputuname"><span class="text-info">* </span>Carrera</label>
                                                        <select formControlName="carrera" name="carrera" class="form-control custom-select" >
                                                            <option *ngFor="let c of carreras" value="{{c}}">{{c}}</option>
                                                        </select> 
                                                        <p *ngIf="miembrosForm.controls.carrera.invalid && !miembrosForm.controls.carrera.pristine || miembrosForm.controls.carrera.invalid && press==true" class="text text-danger">La carrera es requerida <i class="fa fa-exclamation-circle uncheck"></i></p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                    <label for="exampleInputuname"><span class="text-info">* </span>Correo</label>
                                                    <input formControlName="correo" name="correo" class="form-control"  type="email" > 
                                                    <p *ngIf="miembrosForm.controls.correo.invalid && !miembrosForm.controls.correo.pristine || miembrosForm.controls.correo.invalid && press==true" class="text text-danger">Ingresa un correo valido <i class="fa fa-exclamation-circle uncheck"></i></p>
                                                </div>
                                            
                                            <div class="form-group">
                                                    <label for="exampleInputuname"><span class="text-info">* </span>Telefono</label>
                                                    <input formControlName="telefono" name="telefono" class="form-control"  type="number" > 
                                                    <p *ngIf="miembrosForm.controls.telefono.invalid && !miembrosForm.controls.telefono.pristine || miembrosForm.controls.telefono.invalid && press==true" class="text text-danger">El telefono debe contener 10 numeros <i class="fa fa-exclamation-circle uncheck"></i></p>
                                            </div>  
                                            
                                        </form>   
                                    </div>
                                     <!-- TERMINA TAB PREGUNTAS PERSONALES -->
                                     <!--INCIA TAB ANTECEDENTES PATOLOGICOS-->
                                    <div  [ngClass]="{active: miembrosForm.valid }" class="tab-pane" id="cuenta" role="tabpanel" aria-expanded="false">
                                            <form ngNativeValidate [formGroup]="usuarioForm">
                                          
                                                    <strong><label>Llena los campos requeridos</label></strong>
                                                    <div class="form-group">
                                                            <label ><span class="text-info">* </span>Usuario</label>
                                                            <input formControlName="usuario" name="usuario" class="form-control"  type="text" > 
                                                            <p *ngIf="usuarioForm.controls.usuario.invalid && !usuarioForm.controls.usuario.pristine || usuarioForm.controls.usuario.invalid && press==true" class="text text-danger">El nombre es requerido <i class="fa fa-exclamation-circle uncheck"></i></p>
                                                        </div>
                                           
                                                            <div class="form-group">
                                                                    <label for="exampleInputuname"><span class="text-info">* </span>Rol</label>
                                                                    <select formControlName="rol" name="rol" class="form-control custom-select" >
                                                                        <option *ngFor="let r of roles" value="{{r}}">{{r}}</option>
                                                                    </select> 
                                                                    <p *ngIf="usuarioForm.controls.rol.invalid && !usuarioForm.controls.rol.pristine || usuarioForm.controls.rol.invalid && press==true" class="text text-danger">El rol es requerido <i class="fa fa-exclamation-circle uncheck"></i></p>
                                                            </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 form-group">
                                                                <label for="exampleInputuname"><span class="text-info">* </span>Contraseña</label>
                                                                <input formControlName="password" name=" password" class="form-control"  type="password" > 
                                                                <p *ngIf="usuarioForm.controls.password.invalid && !usuarioForm.controls.password.pristine || usuarioForm.controls.password.invalid && press==true" class="text text-danger">Ingresa una contraseña valida <i class="fa fa-exclamation-circle uncheck"></i></p>
                                                            </div>
                                                            <div class="col-lg-6 form-group">
                                                                <label for="exampleInputuname"><span class="text-info">* </span>Confirmar contraseña</label>
                                                                <input formControlName="password2" name=" password2" class="form-control"  type="password" > 
                                                                <p *ngIf="usuarioForm.controls.password2.invalid && !usuarioForm.controls.password2.pristine || usuarioForm.controls.password2.invalid && press==true" class="text text-danger">Ingresa una contraseña valida  <i class="fa fa-exclamation-circle uncheck"></i></p>
                                                                <p *ngIf="usuarioForm.errors?.sonIguales && !usuarioForm.pristine" class="form-control-feedback text-danger"> Las contraseñas no coinciden. </p>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="guardado==true" class="alert alert-success">
                                                            <p>Miembro registrado con exito!</p>
                                                        </div>
                                                        <div style="float:right;">
                                                            <button [ngClass]="{ disabled: usuarioForm.invalid }" (click)="guardar();" class="btn btn-success"> Guardar</button>
                                                        </div>
                          
                                                        
                                                    </form>  
                                       
                                    </div>
                                    
                            
                                </div>
                            </div> <!---->
                                
                            
                                  
                </div>
                <div class="modal-footer">
                                  
                        </div>
              
              </ng-template>  